src/plugin_generator
test/*
src/libs/*
src/filters/callgrind*
src/filters/salida.txt
src/filters/convolution
src/filters/modifyframe
src/filters/simple
!test/*.nim
*.mkv
!/test/2sec.mkv
src/vapoursynth
src/htmldocs/*
site/themes/*
site/static/*
site/resources/*
site/package-lock.json
site/node_modules/*
site/layouts/*
site/data/*
site/archetypes/*
*.y4m
*.bmp
*.png
*.yuv
*.ffindex
ex01
ex01.nim
profile_results.txt